* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url('../script/assets/images/cloudBg.png');
  background-size: 1400px 50vh;
  background-position-x: center;
  padding: 7px 15px;
}

main {
  background: #D9D9D9;
  padding: 7px 12px;
  border-radius: 6px 6px 0 0;
}

main div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 7px;
}

p {
  background: #E2E2E2;
  padding: 7px 12px;
}

p:last-child {
  border-radius: 0 0 6px 6px;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  main div {
    width: 65%;
  }
}